<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- <title>Sign up Form</title> -->
    <link rel="form icon" type="image/x-icon" href="favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../stylessheets/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../stylessheets/css/flag-icon.min.css">
    <link rel="stylesheet" href="../stylessheets/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../stylessheets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../images/shopping_bags.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div align="center" class="brand-logo">
                  <img style="height: 25%; width: 25%;" src="../images/bazaar-logo.jpg">
                </div>
                <!--<h4 class="text-dark">Hello! let's get started</h4>
                <h6 class="font-weight-light text-dark">Sign in to continue.</h6>-->
                <div id="error" class="text-danger">
                  <%- include ("partials/error_messages") %>
                </div>
                <form class="pt-3 text-dark" id = "myForm" action="/users/change-password" method="POST">
                  <div class="form-group">
                    <b><label class="text-dark" style="font-size: 15px;">OTP Code*</label></b>
                    <input type="number"  style="font-size: 12px;" name="otpCode" class="form-control form-control-lg text-muted" id="exampleInputEmail1" placeholder="1234">
                  </div>
                  <div class="form-group">
                    <b><label class="text-dark" style="font-size: 15px;">E-mail*</label></b>
                    <input type="email"  style="font-size: 12px;" name="email" class="form-control form-control-lg text-muted" id="exampleInputEmail1" placeholder="E-mail">
                  </div>
                  <div id="securityInfo">
                    <div class="form-group">
                      <b><label for="pass">Password</label></b>
                      <input id="pass" name="password" class="form-control form-control-lg" type="password" placeholder="password">
                    </div>
                    <div class="form-group">
                      <b><label for="cpass">Confirm Password</label></b>
                      <input id="cpass" type="password" class="form-control form-control-lg text-muted" placeholder="confirm password">
                    </div>
                    <div id="pass_message"></div>
                  </div>
                  <div class="mt-3">
                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Reset Password</button>
                  </div>
                  <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="/users/register" class="text-primary">Create</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../js/off-canvas.js"></script>
    <script src="../js/hoverable-collapse.js"></script>
    <script src="../js/misc.js"></script>
    <!-- endinject -->
  </body>
</html>
